[default]
aws_access_key_id=dummy
aws_secret_access_key=dummy

[olive]
aws_access_key_id={{ (index (onepassword "gizfoygvag27ygvndj3rji5oq4").fields 5).value }}
aws_secret_access_key={{ (index (onepassword "gizfoygvag27ygvndj3rji5oq4").fields 6).value }}

[olive-mfa]
aws_access_key_id=
aws_secret_access_key=

[boleto]
aws_access_key_id={{ (index (onepassword "7tnjvbmhesrnb5l35aic7auxne").fields 5).value }}
aws_secret_access_key={{ (index (onepassword "7tnjvbmhesrnb5l35aic7auxne").fields 6).value }}

[boleto-mfa]
aws_access_key_id=
aws_secret_access_key=
