[localstack]
aws_access_key_id = test
aws_secret_access_key = test

[olive]
{{ range (onepassword "gizfoygvag27ygvndj3rji5oq4").fields -}}
{{   if eq .label "ACCESS KEY ID" -}}
aws_access_key_id = {{ .value }} 
{{   else if eq .label "SECRET KEY ID" -}}
aws_secret_access_key = {{ .value }}
{{   end -}}
{{ end }}

[boleto]
{{ range (onepassword "7tnjvbmhesrnb5l35aic7auxne").fields -}}
{{   if eq .label "ACCESS KEY ID" -}}
aws_access_key_id = {{ .value }}
{{   else if eq .label "SECRET KEY ID" -}}
aws_secret_access_key = {{ .value }}
{{   end -}}
{{ end }}

