#!/usr/bin/env bash

{{ if eq .chezmoi.os "darwin" -}}
eval "$(/opt/homebrew/bin/brew shellenv)"

brew bundle --verbose --file=/dev/stdin <<EOF
brew "chezmoi"
brew "mas"
brew "git"
brew "zsh-completions"
brew "zsh-autosuggestions"
brew "eza"     # ls
brew "ripgrep" # grep
brew "fd"      # find
brew "bat"     # cat
brew "zoxide"  # cd
brew "fzf"     # required zoxide
brew "delta"   # git diffを見やすく
brew "FelixKratz/formulae/borders"
brew "tmux"

cask "1password"
cask "1password-cli"
cask "google-drive"
cask "google-chrome"
cask "firefox"
cask "ghostty"
cask "font-plemol-jp-nf"
cask "claude"
cask "claude-code"
cask "the-unarchiver"
cask "nikitabobko/tap/aerospace"
EOF
{{- end }}
