#!/usr/bin/env bash

# XDG Base Directory
mkdir -p "$HOME/.config" "$HOME/.chache" "$HOME/.local/share" "$HOME/.local/state"

{{- if eq .chezmoi.os "darwin" }}
# 事前にパスワード入力をしておく
sudo -v

# ZDOTDIRの設定を追加
grep -q 'ZDOTDIR' /etc/zshenv 2>/dev/null || echo 'export ZDOTDIR="$HOME/.config/zsh"' | sudo tee -a /etc/zshenv

# homebrew でインストール
# chezmoi のスクリプトはホームディレクトリで実行されるのでBrewfileはフルパスで指定する
command -v brew > /dev/null || /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
eval "$(/opt/homebrew/bin/brew shellenv zsh)"
brew bundle --verbose --file=$HOME/.config/homebrew/Brewfile
brew cleanup -s

# Rust をインストール
export RUSTUP_HOME="$HOME/.local/share/rustup"
export CARGO_HOME="$HOME/.local/share/cargo"
export PATH="$CARGO_HOME/bin:$PATH"
command -v rustup > /dev/null || curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y

# mise をインストール
export PATH="$HOME/.local/bin:$PATH"
command -v mise > /dev/null || curl https://mise.run | sh
mise install

# 補完ファイルのダウンロード
mkdir -p "$HOME/.local/share/zsh/completions"
urls=(
  "_sheldon https://raw.githubusercontent.com/rossmacarthur/sheldon/refs/heads/trunk/completions/sheldon.zsh"
  "_eza https://raw.githubusercontent.com/eza-community/eza/main/completions/zsh/_eza"
  "_git https://raw.github.com/git/git/master/contrib/completion/git-completion.zsh"
)
for item in "${urls[@]}"; do
  name="${item%% *}"
  url="${item#* }"
  [ -f "$HOME/.local/share/zsh/completions/$name" ] || curl -fsSL -o "$HOME/.local/share/zsh/completions/$name" "$url"
done

# MacOSの設定
## キーリピート
defaults write NSGlobalDomain KeyRepeat -int 2
defaults write NSGlobalDomain InitialKeyRepeat -int 15

## Dock
defaults write com.apple.dock orientation -string "left"         # Dockの位置("bottom", "left", "right")
defaults write com.apple.dock tailesize -int 16                  # アプリアイコンのサイズ
defaults write com.apple.dock autohide -bool true                # 自動的に隠す
defaults write com.apple.dock autohide-time-modifer -float 0.5   # 隠す/表示のアニメーション時間
defaults write com.apple.dock autohide-delay -float 0            # 隠れたDockが表示されるまでの時間(0で即時)
defaults write com.apple.dock show-recents -bool false           # 最近使ったアプリを表示しない
defaults write com.apple.dock launchanim -bool false             # アプリ起動時のアニメーションを無効
defaults write com.apple.dock minimize-to-application -bool true # ウィンドウをアプリアイコンにしまう
killall Dock

## Finder
defaults write com.apple.finder CreateDesktop -bool false # デスクトップにアイコンを表示しない
killall Finder

## デスクトップとステージマネージャ
defaults write com.apple.WindowManager GloballyEnabled -bool false                  # ステージマネージャを無効
defaults write com.apple.WindowManager EnableStandardClickToShowDesktop -bool false # 壁紙をクリックしてデスクトップを表示しない
defaults write com.apple.WindowManager StandardHideWidgets -bool true               # デスクトップに表示しない
defaults write com.apple.WindowManager StageManagerHideWidgets -bool true           # ステージマネージャ使用時に表示しない
killall WindowManager

# 通知センター
defaults write com.apple.NotificationCenter WidgetsEnabled -bool false    # 通知センターに表示しない
killall NotificationCenter
{{- end }}
