#!/bin/bash

{{ if eq .chezmoi.os "darwin" }}

eval "$(/opt/homebrew/bin/brew shellenv)"

brew bundle --no-lock --file=/dev/stdin << Brewfile

brew "chezmoi"
brew "zsh-completions"

# VisualStudioCode
cask "visual-studio-code"
vscode "catppuccin.catppuccin-vsc"
vscode "pkief.material-icon-theme"

# Mac Application
cask "1password"
cask "1password-cli"
cask "google-chrome"
cask "font-udev-gothic-nf"
cask "zed"

Brewfile

{{ end }}
