#!/usr/bin/env bash

{{ if eq .chezmoi.os "darwin" -}}
eval "$(/opt/homebrew/bin/brew shellenv)"

brew bundle --file=/dev/stdin <<EOF

brew "chezmoi"
brew "git"
brew "fzf"
brew "eza"       # ls
brew "ripgrep"   # grep
brew "fd"        # find
brew "bat"       # cat
brew "zoxide"    # cd
brew "git-delta" # git diff

cask "1password"
cask "1password-cli"
cask "font-plemol-jp-nf"
cask "google-drive"
cask "google-chrome"
cask "firefox"
cask "zen"

EOF
{{- end }}
