#!/bin/bash

{{ if eq .chezmoi.os "darwin" }}

eval "$(/opt/homebrew/bin/brew shellenv)"

brew bundle --no-lock --file=/dev/stdin << Brewfile

brew "chezmoi"
brew "zsh-completions"

# VisualStudioCode
cask "visual-studio-code"
vscode "catppuccin.catppuccin-vsc"
vscode "pkief.material-icon-theme"
vscode "biomejs.biome"

# Mac Application
cask "1password"
cask "1password-cli"
cask "google-chrome"
cask "font-udev-gothic-nf"
cask "zed"
cask "warp"
cask "rectangle-pro"
cask "obsidian"

# Dev Tools
brew "mise"
brew "ariga/tap/atlas"
cask "docker"

Brewfile

{{ end }}
