# Theme
theme = catppuccin-mocha

# Fonts
font-family = PlemolJP Console NF Medium
font-size = 16
font-feature = -dlig
alpha-blending = linear

# Other
resize-overlay = never

# Claude Code
keybind = shift+enter=text:\n
