# Theme
theme = catppuccin-mocha

# Fonts
font-family = PlemolJP Console NF Regular
font-size = 16
font-feature = -dlig
alpha-blending = linear

# Other
resize-overlay = never
scrollback-limit = 100000

# Claude Code
keybind = shift+enter=text:\n
