{
    "editor.fontFamily": "'PlemolJP Console NF'",
    "editor.fontSize": 16,
    "editor.minimap.enabled": false,
    "terminal.integrated.fontFamily": "'PlemolJP Console NF'",
    "terminal.integrated.fontSize": 16,
    "extensions.ignoreRecommendations": true,
    "terminal.integrated.scrollback": 99999
}
