{
    "editor.fontFamily": "'PlemolJP Console NF'",
    "editor.fontSize": 16,
    "editor.minimap.enabled": false,
    "editor.cursorBlinking": "smooth",
    "editor.semanticHighlighting.enabled": "configuredByTheme",
    "explorer.compactFolders": false,
    "extensions.ignoreRecommendations": true,
    "files.insertFinalNewline": true,
    "workbench.tree.indent": 16,
    "workbench.colorTheme": "Catppuccin Mocha",
    "workbench.iconTheme": "catppuccin-mocha",
    "workbench.activityBar.location": "top",
    "terminal.integrated.fontFamily": "'PlemolJP Console NF'",
    "terminal.integrated.fontSize": 16,
    "terminal.integrated.profiles.osx": {
        "zsh": {
            "path": "zsh",
            "args": [
                "-l"
            ]
        },
    },
    "terminal.integrated.scrollback": 9999,
    "terminal.integrated.enablePersistentSessions": false, // remove History restored
    "[javascript]": {
        "editor.formatOnSave": true,
        "editor.defaultFormatter": "biomejs.biome",
        "editor.codeActionsOnSave": {
            "source.fixAll.biome": "explicit",
            "source.organizeImports.biome": "explicit"
        }
    },
    "[javascriptreact]": {
        "editor.formatOnSave": true,
        "editor.defaultFormatter": "biomejs.biome",
        "editor.codeActionsOnSave": {
            "source.fixAll.biome": "explicit",
            "source.organizeImports.biome": "explicit"
        }
    },
    "[typescript]": {
        "editor.formatOnSave": true,
        "editor.defaultFormatter": "biomejs.biome",
        "editor.codeActionsOnSave": {
            "source.fixAll.biome": "explicit",
            "source.organizeImports.biome": "explicit"
        }
    },
    "[typescriptreact]": {
        "editor.formatOnSave": true,
        "editor.defaultFormatter": "biomejs.biome",
        "editor.codeActionsOnSave": {
            "source.fixAll.biome": "explicit",
            "source.organizeImports.biome": "explicit"
        }
    },
    "[go]": {
        "editor.tabSize": 2,
        "editor.insertSpaces": false,
        "editor.formatOnSave": true,
        "editor.stickyScroll.enabled": true,
        "editor.codeActionsOnSave": {
            "source.organizeImports": "always",
            "source.fixAll": "always"
        }
    },
    "go.toolsManagement.autoUpdate": true,
    "go.useLanguageServer": true,
    "gopls": {
        "formatting.gofumpt": false,
        "ui.completion.usePlaceholders": true,
        "ui.semanticTokens": true,
        "ui.diagnostic.staticcheck": false
    },
    "go.lintTool": "golangci-lint",
    "go.lintFlags": [
        "--timeout",
        "5m",
        "--fix"
    ],
    "go.testFlags": [
        "-cover",
        "-race",
        "-count=1",
        "-v",
        "-s",
        "-benchtime=5s",
        "-timeout=5m"
    ],
    "go.enableCodeLens": {
        "runtest": true
    },
    "go.inlayHints.compositeLiteralFields": true,
    "go.inlayHints.compositeLiteralTypes": true,
    "go.inlayHints.functionTypeParameters": true,
    "go.inlayHints.rangeVariableTypes": true,
    "go.inlayHints.constantValues": true,
    "go.diagnostic.vulncheck": "Imports",
    "go.toolsEnvVars": {
        "GOFLAGS": "-buildvcs=false" // Better perfomance for large repos
    },
    "extensions.experimental.affinity": {
        "asvetliakov.vscode-neovim": 1
    }
}
