{
    "editor.fontFamily": "'PlemolJP Console NF'",
    "editor.fontSize": 16,
    "editor.minimap.enabled": false,
    "terminal.integrated.fontFamily": "'PlemolJP Console NF'",
    "terminal.integrated.fontSize": 16,
    "extensions.ignoreRecommendations": true,
    "terminal.integrated.scrollback": 99999,
    "files.insertFinalNewline": true,
    "editor.formatOnSave": true,
    "editor.codeActionsOnSave": {
        "source.fixAll.biome": "explicit",
        "source.organizeImports.biome": "explicit"
    },
    "[javascript]": {
        "editor.defaultFormatter": "biomejs.biome"
    },
    "[javascriptreact]": {
        "editor.defaultFormatter": "biomejs.biome"
    },
    "[typescript]": {
        "editor.defaultFormatter": "biomejs.biome"
    },
    "[typescriptreact]": {
        "editor.defaultFormatter": "biomejs.biome"
    }
}
