{
    "mcpServers": {
        "Context7": {
{{- if eq .chezmoi.hostname "shinichi" }}
            "command": "/Users/shinichi.ikezawa/.local/share/mise/shims/npx",
{{- else if eq .chezmoi.hostname "personal-mac-m3" }}
            "command": "/Users/s-ikezawa/.local/share/mise/shims/npx",
{{- end }}
            "args": [
                "-y",
                "@upstash/context7-mcp"
            ]
        },
        "SequentialThinking": {
{{- if eq .chezmoi.hostname "shinichi" }}
            "command": "/Users/shinichi.ikezawa/.local/share/mise/shims/npx",
{{- else if eq .chezmoi.hostname "personal-mac-m3" }}
            "command": "/Users/s-ikezawa/.local/share/mise/shims/npx",
{{- end }}
            "args": [
                "-y",
                "@modelcontextprotocol/server-sequential-thinking"
            ]
        },
        "FigmaDeveloper": {
{{- if eq .chezmoi.hostname "shinichi" }}
            "command": "/Users/shinichi.ikezawa/.local/share/mise/shims/npx",
{{- else if eq .chezmoi.hostname "personal-mac-m3" }}
            "command": "/Users/s-ikezawa/.local/share/mise/shims/npx",
{{- end }}
            "args": [
                "-y",
                "figma-developer-mcp",
                "--stdio"
            ],
            "env": {
{{- range (onepassword "fnyoetdvmlg2t5xrrgops3f2ga").fields }}
{{-   if eq .label "Personal Access Token For MCP Server" }}
                "FIGMA_API_KEY": {{ .value | quote }}
{{-   end }}
{{- end }}
            }
        }
    }
}