{{ if eq .chezmoi.os "darwin" -}}
####################################################################################################
# Homebrew
####################################################################################################
if type brew &>/dev/null; then
  eval "$(/opt/homebrew/bin/brew shellenv)"
fi
{{ end }}
