####################################################################################################
# XDG
####################################################################################################
export XDG_CONFIG_HOME=$HOME/.config
export XDG_CACHE_HOME=$HOME/.cache
export XDG_DATA_HOME=$HOME/.local/share
export XDG_STATE_HOME=$HOME/.local/state

export PATH="${HOME}/.local/bin:${PATH}"

####################################################################################################
# Claude Code
####################################################################################################
export CLAUDE_CONFIG_DIR="$XDG_CONFIG_HOME/claude"
export MAX_MCP_OUTPUT_TOKENS=50000

####################################################################################################
# Go
####################################################################################################
export GOPATH=$XDG_DATA_HOME/go
export GOBIN=$XDG_DATA_HOME/go/bin
export PATH="$GOBIN:$PATH"
export MISE_GO_DEFAULT_PACKAGES_FILE=$XDG_CONFIG_HOME/mise/default-go-packages

####################################################################################################
# NPM
####################################################################################################
export NPM_CONFIG_USERCONFIG=$XDG_CONFIG_HOME/npm/config
export NPM_CONFIG_CACHE=$XDG_CACHE_HOME/npm
export PATH="$XDG_DATA_HOME/npm/bin:$PATH"
export MISE_NODE_DEFAULT_PACKAGES_FILE=$XDG_CONFIG_HOME/mise/default-npm-packages

####################################################################################################
# PHP
# 古くてビルドが難しいので homebrew で shivammathur/php を利用
####################################################################################################
export PATH="/opt/homebrew/opt/php@7.4/bin:$PATH"

####################################################################################################
# PostgreSQL
####################################################################################################
export PATH="/opt/homebrew/opt/libpq/bin:$PATH"
